{% extends 'base.html' %}
{% block title %}View Location{% endblock %}

{% block main %}
    <div class="container mt-4">
        <div class="row">
            {% for item in items %}
                <div class="col-md-4 mb-4">
                    <div class="card text-center">
                        {% if item.images.all %}
                            <img src="{{ item.images.first.image.url }}" class="product-image card-img-top"
                                 alt="Product Image">
                        {% else %}
                            <img src="https://via.placeholder.com/200" class="product-image card-img-top"
                                 alt="Placeholder">
                        {% endif %}
                        <div class="card-body">
                            <h5>{{ item.title }}</h5>
                            <p class="text-muted">Category: {{ item.get_category_display }}</p>
                            <p>${{ item.price }}</p>
                            <a class="favorite-btn" href="{% url 'users:add_to_wishlist' item.id %}">⭐ Add to my favorite</a>
                            <p class="mt-2">{{ item.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
